.container {
    display: flex;
    justify-content: flex-start; // Alinha o conteúdo ao centro horizontalmente
    align-items: center; // Alinha o conteúdo ao centro verticalmente
    height: 70%; // Ocupa a altura total da viewport
    margin-left: 15%;
    margin-right: 15%;
    background-color: white;
    flex-direction: column; /* Organiza os blocos verticalmente */
    .form-container {
        max-width: 100%; // Defina a largura máxima do formulário
        width: 100%; // Garanta que o formulário ocupe toda a largura disponível
        margin: 0 auto; // Centralize horizontalmente
        text-align: center; // Centralize horizontalmente o conteúdo do formulário
        background-color: white;
      }
      
      mat-form-field {
        width: 100%; // Garanta que o campo de formulário ocupe toda a largura disponível
        margin-bottom: 20px; // Adicione espaço entre os campos de formulário
      }
      button {
        margin-top: 20px; // Adicione espaço acima do botão "Entrar"
      }
    }
    .block {
        flex: 1; /* Faz com que os blocos ocupem espaço igualmente */
      }

      .title-form{
        color: #29686D;
        font-size: 60px;
        font-family: 'Finger Paint', fantasy;
      }
    
      .mat-mdc-unelevated-button.mat-primary {
        --mdc-filled-button-container-color:#29686D;}

        .background{
          background-color: white;

        }