<mat-card>
    <mat-card-header>
      <mat-card-title>
        <div style="width: 100%; display: flex; justify-content: space-between; align-items: center;">
          <span></span>
          @if(isEdition){
            <span>Edição de Usuário</span>
          }
          @else { <span>Cadastro de Usuário</span>}
         
          <span></span>
        <br>
        <br> <br>

        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="form-container">
        <div class="form-row">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="firstName" required>
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Sobrenome</mat-label>
            <input matInput formControlName="lastName" required>
          </mat-form-field>

          <mat-form-field appearance="fill" class="form-field">
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="email" type="email" required>
          </mat-form-field>

        </div>
  
        <div class="form-row">
       
   
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Nome de Usuário</mat-label>
            <input matInput formControlName="username" required>
          </mat-form-field>
        </div>
  
        <div class="form-row">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Senha</mat-label>
            <input matInput formControlName="password" type="password">
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Confirme a Senha</mat-label>
            <input matInput formControlName="password" type="password" >
          </mat-form-field>

          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Função na Propriedade</mat-label>
            <input matInput formControlName="role">
          </mat-form-field>
        </div>
  
        <div class="form-row">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Telefone</mat-label>
            <input matInput formControlName="contactInfo">
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status">
              <mat-option value="active">Ativo</mat-option>
              <mat-option value="inactive">Inativo</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
  
        <div class="form-row button-container">

          <button mat-raised-button color="primary" (click)="redirectToUserList()">Cancelar</button>

          @if(isEdition)
          {
            <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid">Salvar</button>

          }
          @else
          {
            <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid">Registrar</button>

          }

        </div>
      </form>
    </mat-card-content>
  </mat-card>
  