<mat-card>
    <mat-card-header>
      <mat-card-title>
        <div style="width: 100%; display: flex; justify-content: space-between; align-items: center;">
          <span></span>
          <span>Cadastro de Bovinos</span>
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="cattleForm" (ngSubmit)="onSubmit()" class="form-container">
        <div class="form-row">
          
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Identificação Visual</mat-label>
            <input matInput formControlName="idVisualIdentification" required="true">
          </mat-form-field>

          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Identificação Sisbov</mat-label>
            <input matInput formControlName="idSisbovIdentification">
          </mat-form-field>

          <mat-form-field appearance="fill" class="form-field">
            <mat-label>ID Auroque</mat-label>
            <input matInput formControlName="id">
          </mat-form-field>

      
        </div>
  
        <div class="form-row">
          <mat-form-field appearance="fill" class="form-field">

            <mat-label>Gênero</mat-label>
            <mat-select formControlName="gender">
              <mat-option selected value="Male">Macho</mat-option>
              <mat-option value="Female">Fêmea</mat-option>
            </mat-select>
          </mat-form-field>
          
  
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Animal</mat-label>
            <mat-select formControlName="animalType">
              <mat-option selected value="Male">Touro</mat-option>
              <mat-option value="Bull">Boi</mat-option>
              <mat-option value="Cow">Vaca</mat-option>
              <mat-option value="Other">Outros</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Sub classe</mat-label>
            <mat-select formControlName="animalSubtype">
              <mat-option value="Male" selected>Touro Reprodutor</mat-option>
              <mat-option value="BeefCattle">Boi de Corte</mat-option>
              <mat-option value="Heifer">Novilha</mat-option>
              <mat-option value="Female">Primeira</mat-option>
              <mat-option value="Female">Segunda</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

          <div class="form-row">
            <mat-form-field appearance="fill" class="form-field">

                <mat-label>Raça</mat-label>
                <mat-select formControlName="breed">
                    <mat-option selected value="Angus">Angus</mat-option>
                    <mat-option value="Other">Outro</mat-option>
                </mat-select>
            </mat-form-field>


            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Origem</mat-label>
                <mat-select formControlName="origin">
                    <mat-option selected value="Buy">Compra</mat-option>
                    <mat-option value="Female">Inceminação</mat-option>
                    <mat-option value="Other">Outro</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Objetivo da Criacao</mat-label>
                <mat-select formControlName="purpose">
                    <mat-option value="Sale">Venda</mat-option>
                    <mat-option value="Female">Leiteira</mat-option>
                    <mat-option value="Female">Corte</mat-option>
                    <mat-option value="Female">Outro</mat-option>
                </mat-select>
            </mat-form-field>


            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Data de Nascimento</mat-label>
                <input matInput type="date" formControlName="birthDate" required>
            </mat-form-field>
        </div>

        <div class="form-row">
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Vacinação</mat-label>
                <mat-select formControlName="vaccinationStatus">
                    <mat-option value="Complete" selected>Completa</mat-option>
                    <mat-option value="Pendency">Pendente</mat-option>
                    <mat-option value="Female">Nao Informado</mat-option>
                    <mat-option value="Female">Outro</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Peso</mat-label>
                <input matInput formControlName="weight">
              </mat-form-field>
        </div>
  
        <div class="form-row">
         
        </div>
  
        <div class="form-row button-container">
      <!--
 <button mat-raised-button color="primary" type="submit" [disabled]="!cattleForm.valid">Registrar</button>
      -->   
      <button mat-raised-button color="primary" type="submit">Registrar</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <!--   Gravidez-->
  <mat-card style="margin-top: 100px;">
    <mat-card-header>
      <mat-card-title>
        <div style="width: 100%; display: flex; justify-content: space-between; align-items: center;">
          <span></span>
          <span>Gestacional</span>
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="form-row">
            <span> Nenhuma informaçao disponivel no momento</span>
          </div>
    </mat-card-content>
</mat-card>

<!-- Histórico -->
<app-register-cattles-history></app-register-cattles-history>

<!-- Registrar alteraçao -->
<app-register-cattles-event-traker></app-register-cattles-event-traker>

<!--   Genealogia-->
<app-register-cattles-genealogy> </app-register-cattles-genealogy>
