<mat-card>
    <mat-card-header>
      <mat-card-title>
        <div style="width: 100%; display: flex; justify-content: space-between; align-items: center;">
          <span></span>
          <span>Cadastro de Bovinos</span>
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="cattleForm" (ngSubmit)="onSubmit()" class="form-container">
        <div class="form-row">
          
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Identificação Visual</mat-label>
       
            @if(isEdition){
              <input matInput formControlName="visualId" [readonly]="true" #tooltip="matTooltip"
              matTooltip="Para alterar cadastre um evento de perda de brinco">
            
            }
            @else{
              <input matInput formControlName="visualId">
            }
          </mat-form-field>

          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Identificação Sisbov</mat-label>
            <input matInput formControlName="sisbovId">
          </mat-form-field>

          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Código de rastreamento</mat-label>
            <input matInput formControlName="id" [disabled]="true" readonly="true">
          </mat-form-field>

      
        </div>
  
        <div class="form-row">
          <mat-form-field appearance="fill" class="form-field">

            <mat-label>Gênero</mat-label>
            <mat-select formControlName="gender">
              <mat-option  value="Male">Macho</mat-option>
              <mat-option value="Female">Fêmea</mat-option>
            </mat-select>
          </mat-form-field>
          
  
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Animal</mat-label>
            <mat-select formControlName="animalTypeId">
              @for (type of animalTypes; track type.id){
  
                <mat-option  [value]=type.id>
                  {{ type.description }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Sub classe</mat-label>
            <mat-select formControlName="animalSubtypeId">
              @for (subtype of animalSubTypes; track subtype.id){
  
                <mat-option  [value]=subtype.id>
                  {{ subtype.description }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>

          <div class="form-row">
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Raça</mat-label>
                <mat-select formControlName="breedId" required="false">
                  @for (breed of breeds; track breed.id){
  
                    <mat-option  [value]=breed.id>
                      {{ breed.description }}
                    </mat-option>
                  }
                </mat-select>
            </mat-form-field>


            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Origem</mat-label>
                <mat-select formControlName="originId">
                  @for (origin of origins; track origin.id){
  
                    <mat-option  [value]=origin.id>
                      {{ origin.description }}
                    </mat-option>
                  }
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Piquete</mat-label>
                <mat-select formControlName="piqueteId">
                  @for (piquete of piquetes; track piquete.id){
  
                    <mat-option  [value]=piquete.id>
                      {{ piquete.name }}
                    </mat-option>
                  }
                </mat-select>
            </mat-form-field>


            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Data de Nascimento</mat-label>
                <input matInput type="date" formControlName="birthDate">
            </mat-form-field>
        </div>

        <div class="form-row">
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Vacinação</mat-label>
                <mat-select formControlName="vaccinationStatusId">
                  @for (vaccination of vaccinations; track vaccination.id){
  
                    <mat-option  [value]=vaccination.id>
                      {{ vaccination.description }}
                    </mat-option>
                  }
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Peso</mat-label>
                <input matInput formControlName="weight" [readonly]="true" [disabled]="true" #tooltip="matTooltip"
                matTooltip="Para alterar cadastre um evento de pesagem">
              </mat-form-field>
        </div>
  
        <div class="form-row">
         
        </div>
  
        <div class="form-row button-container">

          <button mat-raised-button color="primary" (click)="redirectToCattleList()">Cancelar</button>

          @if(isEdition)
          {
            <button mat-raised-button color="primary" type="submit" [disabled]="!cattleForm.valid">Salvar</button>

          }
          @else
          {
            <button mat-raised-button color="primary" type="submit" [disabled]="!cattleForm.valid">Registrar</button>

          }

        </div>
      </form>
    </mat-card-content>
  </mat-card>

  

@if( showCattleEvents){

  <!-- Informação Reprodutiva -->
<app-register-cattles-history title="Informação Reprodutiva" [isReprodutive]="true"></app-register-cattles-history>

<!-- Histórico -->
<app-register-cattles-history title="Histórico" [isReprodutive]="false"></app-register-cattles-history>


  <!-- Registrar alteraçao -->
  <app-register-cattles-event-traker></app-register-cattles-event-traker>
  
  <!--   Genealogia-->
  <app-register-cattles-genealogy> </app-register-cattles-genealogy>
}

