<mat-sidenav-container class="sidenav-container" fullscreen>
  <mat-sidenav #drawer mode="push" opened="false">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/home/dashboard"><mat-icon>dashboard</mat-icon><span>Dashboard</span></a>
      <a mat-list-item href="/home/vacinas"><mat-icon>vaccines</mat-icon><span>Farmácia</span></a>
      <a mat-list-item href="/home/cattles"><mat-icon>pets</mat-icon><span>Rebanho</span></a>
      <a mat-list-item href="/home/users"><mat-icon>person</mat-icon><span>Usuários</span></a>
      <a mat-list-item href="#"><mat-icon>scatter_plot</mat-icon><span>Manejos</span></a>
      <a mat-list-item href="#"><mat-icon>gite</mat-icon><span>Piquetes</span></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()" class="example-icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Auroque</span>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet> <!-- This renders the child components -->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
  