<div class="line-1">
    <mat-card class="dashboard-card">
        <mat-card-header>
            <mat-card-title>Cadastro de Vacina</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            Conteúdo do cartão 1
        </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card">
        <mat-card-header>
            <mat-card-title>Ganho de Peso</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div id="ww_da722cf5f3de2" v='1.3' loc='auto' a='{"t":"responsive","lang":"pt","sl_lpl":1,"ids":[],"font":"Arial","sl_ics":"one_a","sl_sot":"celsius","cl_bkg":"#303F9F","cl_font":"#FFFFFF","cl_cloud":"#FFFFFF","cl_persp":"#81D4FA","cl_sun":"#FFC107","cl_moon":"#FFC107","cl_thund":"#FF5722","cl_odd":"#0000000a"}'>Mais previsões: <a href="https://oneweather.org/pt/lisbon/25_days/" id="ww_da722cf5f3de2_u" target="_blank">O tempo para os próximos 25 dias</a></div><script async src="https://app2.weatherwidget.org/js/?id=ww_da722cf5f3de2"></script>        </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card">
        <mat-card-header>
            <mat-card-title>Previsão do Tempo</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            Conteúdo do cartão 3
        </mat-card-content>
    </mat-card>
</div>



<div class="line-2">
    <mat-card class="dashboard-card">
        <mat-card-header>
            <mat-card-title>Cadastro de Vacina</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <iframe src="https://api.wo-cloud.com/content/widget/?geoObjectKey=3705599&language=pt&region=BR&timeFormat=HH:mm&windUnit=kmh&systemOfMeasurement=metric&temperatureUnit=celsius" name="CW2" scrolling="no" width="290" height="318" frameborder="0" style="border: 1px solid #10658E;border-radius: 8px"></iframe>
            <div id="ww_da722cf5f3de2" v='1.3' loc='auto' a='{"t":"responsive","lang":"pt","sl_lpl":1,"ids":[],"font":"Arial","sl_ics":"one_a","sl_sot":"celsius","cl_bkg":"#303F9F","cl_font":"#FFFFFF","cl_cloud":"#FFFFFF","cl_persp":"#81D4FA","cl_sun":"#FFC107","cl_moon":"#FFC107","cl_thund":"#FF5722","cl_odd":"#0000000a"}'>Mais previsões: <a href="https://oneweather.org/pt/lisbon/25_days/" id="ww_da722cf5f3de2_u" target="_blank">O tempo para os próximos 25 dias</a></div><script async src="https://app2.weatherwidget.org/js/?id=ww_da722cf5f3de2"></script>        </mat-card-content>
  
        </mat-card>

</div>


<div class="line-2">
    <mat-card class="dashboard-card">
        <mat-card-header>
            <mat-card-title>Cadastro de Vacina</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            Conteúdo do cartão 1
        </mat-card-content>
    </mat-card>

</div>


<div class="line-1">
    <mat-card class="dashboard-card">
        <iframe src="https://api.wo-cloud.com/content/widget/?geoObjectKey=3705599&language=pt&region=BR&timeFormat=HH:mm&windUnit=kmh&systemOfMeasurement=metric&temperatureUnit=celsius" name="CW2" scrolling="no" width="290" height="318" frameborder="0" style="border: 1px solid #10658E;border-radius: 8px"></iframe>
    </mat-card>


    <mat-card class="dashboard-card">
        <mat-card-header>
            <mat-card-title>Avisos</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                
                <mat-list-item><mat-icon>campaign</mat-icon>    Estoque de carrapaticida abaixo do limite</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><mat-icon>campaign</mat-icon>    Estoque de vermifugo abaixo do limite</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><mat-icon>campaign</mat-icon>    Terneiro sem registro genealógico</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><mat-icon>campaign</mat-icon>    Terneiro da vaca 343299 nao registrado</mat-list-item>
                <mat-divider></mat-divider>

            </mat-list>
        </mat-card-content>
    </mat-card>
</div>